@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* gunmetal - #253347*/
/* dark electric blue - #5e6e85 */

body, html {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: auto 0;
}

.background-pattern-top {
    height: 540px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: rgb(214,230,254);
    background: linear-gradient(300deg, rgba(214,230,254,1) 0%, rgba(214,252,254,0) 100%);
    z-index: -1;
    border-radius: 0 0 35px 35px;
}

.hero {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.hero-logo {
    width: 48px;
    margin: 0 auto;
    margin-top: 30px;
}

.hero-input {
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    border-radius: 16px;
    padding: 20px 0 25px;
    -webkit-box-shadow: 16px 32px 56px 0px rgba(143,174,207,0.15);
    -moz-box-shadow: 16px 32px 56px 0px rgba(143,174,207,0.15);
    box-shadow: 16px 32px 56px 0px rgba(143,174,207,0.15);
}

.hero-input-header {
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 700;
    color: #253347;
}

.hero-title {
    text-align: center;
    color: #253347;
    font-size: 48px;
    padding: 0 20px;
    margin-bottom: 0;
    margin-top: 30px;
}

.hero-description {
    text-align: center;
    color: #5e6e85;
    padding: 0 20px;
    margin-bottom: 40px;
}

.radio-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.radio-button{
	display:flex;
	align-items: center;
	flex-direction: row-reverse;
	margin: 10px;
	font-size: 20px;
	cursor: pointer;
    font-weight: 600;
    color: #253347;
    gap: 15px;
}

.radio-button input{
	display: none;
	width: 0;
	height: 0;
}

.radio-button span{
	width: 31px;
	height: 31px;
	position: relative;
	margin-right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #fffefe;
    border: 1px solid #5e6e85;
}

.radio-button input:checked + span:after{
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #345ff6;
}

.radio-button input:checked + span {
	background-color: rgba(52, 94, 246, 0.15);
    border: none;
}

.radio-button span:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 50%;
	background-color: rgba(52, 94, 246, 0.15);
}


.radio-button input:checked + span:before {
	animation: growAndFade 0.2s ease-out;
} 
@keyframes growAndFade {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		opacity: 0.5;
		transform: scale(1.5);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}

/* INPUT GROUP CSS */

.input-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group-height, .input-group-weight {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 20px;
    font-size: 14px;
    color: #5e6e85;
}

.input-group-height input, .input-group-weight input {
    font-size: 24px;
    font-weight: 600;
    padding: 20px 24px;
    border-radius: 12px;
    border: 1px solid black;
    color: #253347;
    margin-top: 8px;
}

.input-group-height span, .input-group-weight span {
    position: absolute;
    bottom: 23px;
    right: 30px;
    font-size: 24px;
    color: #345ff6;
    font-weight: 600;
}

.input-group-height input[type="text"]:focus, .input-group-weight input[type="text"]:focus {
    border: 1px solid #345ff6;
    outline: 1px solid #345ff6;
}

.metric-input, .imperial-input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-results {
    width: 85%;
    margin: 0 auto;
    background-color: #345ff6;
    color: white;
    border-radius: 16px;
    margin-top: 30px;
}

.input-results-header {
    padding: 20px 20px 0;
    font-weight: 500;
    font-size: 18px;
}

.bmi {
    display: block;
    margin-top: 5px;
    font-size: 48px;
}

.weight-range {
    font-weight: 600;
}

.input-results-description {
    padding: 0 20px 20px;
}

.imperial-input {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.imperial-height-input input, .imperial-weight-input input {
    width: 60%;
}

#feet, #stones {
    left: 85px;
    bottom: 20px;
    width: 20px;
}

#inches, #pounds {
    right: 20px;
    bottom: 20px;
    width: 20px;
}

/* RESULT SECTION */
.result {
    margin-bottom: 80px;
}

.result-image {
    width: 100%;
}

.result-text-header {
    font-size: 30px;
    padding: 0 20px;
    color: #253347;
}

.result-text-description {
    padding: 0 20px;
    color: #5e6e85;
}

.tips {
    padding: 20px 20px;
    margin-bottom: 50px;
    background: rgb(214,230,254);
    background: linear-gradient(320deg, rgba(214,230,254,1) 0%, rgba(214,252,254,0) 60%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tips h2 {
    color: #253347;
}

.tips p {
    color: #5e6e85;
}

.limitations {
    padding: 0 20px;
    margin-bottom: 80px;
}

.limitations-description {
    margin-bottom: 20px;
    color: #5e6e85;
}

.limitations-categories {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.limitations-category {
    border-radius: 16px;
    padding: 24px;
    -webkit-box-shadow: 16px 20px 56px 0px rgba(143,174,207,0.25);
    -moz-box-shadow: 16px 20px 56px 0px rgba(143,174,207,0.25);
    box-shadow: 16px 20px 56px 0px rgba(143,174,207,0.25);
    background: white;
}

.limitations-category-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.limitations-category-header-text {
    font-size: 20px;
    color: #253347;
}

.limitations-category-description {
    color: #5e6e85;
}

@media only screen and (min-width: 768px) {
    .hero-logo {
        width: 60px;
    }

    .hero-title {
        width: 60%;
        margin: 30px auto 0;
    }

    .hero-title span {
        display: block;
    }

    .hero-description {
        font-size: 20px;
        padding: 0 38px;
    }

    .hero-input-header {
        font-size: 28px;
        text-align: left;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .radio-group {
        padding: 0 8px;
        justify-content: left;
        gap: 30%;
        margin-bottom: 30px;
    }

    .input-group {
        flex-direction: row;
    }

    .input-group-height {
        width: 40%;
        font-size: 18px;
    }

    .input-group-weight {
        width: 40%;
        font-size: 18px;
    }

    .input-results {
        margin: 50px 0 0 20px;
        width: 90%;
        border-radius: 20px 99px 99px 20px;
        font-size: 18px;
    }

    .input-results-header {
        font-size: 20px;
    }

    .imperial-input {
        flex-direction: column;
    }

    #feet, #stones {
        top: 30px;
        left: 175px;
    }

    #inches, #pounds {
        right: 80px;
    }

    .result {
        display: flex;
        position: relative;
    }

    .result-image {
        width: 380px;
        height: auto;
        position: absolute;
        left: -80px;
        bottom: 20px;
    }

    .result-text {
        width: 58%;
        margin-left: 40%;
    }

    .result-text-description {
        font-size: 20px;
    }

    .tips {
        display: flex;
        flex-direction: column;
        padding: 0 38px;
    }

    .tips-eating, .tips-exercise, .tips-sleep {
        display: flex;
        gap: 40px;
    }

    .tips-eating-text {
        width: 80%;
    }

    .tips > div > div > p {
        font-size: 18px;
    }

    .limitations {
        padding: 0 38px;
        margin-top: 40px;
    }

    .limitations-header {
        font-size: 28px;
        text-align: center;
    }

    .limitations-description {
        text-align: center;
        font-size: 18px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .limitations-categories {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .limitations-category {
        width: 40%;
    }

    .limitations-category-header-text {
        font-size: 22px;
    }

    .limitations-category-description {
        font-size: 18px;
    }
}